@tailwind base;
@tailwind components;
@tailwind utilities;

.tips{
    background-color: #64f168;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 1% auto;
}
.toolbox{
    display: flex;
    flex-direction: column;
    width: fit-content;
}
.map-container{
    width: 60%;
    height: 520px;
    overflow: scroll;
}